<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h2 class="page_name">Доступные классы</h2>
    <div  class="MyTable"> 
        <div class="first_col">
            <% collums.first_col.forEach((el) => { %>
                <div class="Class_button" style="background-color: <%= el.status %>"><%= el.name %> -></div>
            <% }) %>
        </div>
        <div class="second_col">
            <% collums.second_col.forEach((el) => { %>
                <div class="Class_button" style="background-color: <%= el.status %>"><%= el.name %> -></div>
            <% }) %></div>
        <div class="third_col">
            <% collums.third_col.forEach((el) => { %>
                <div class="Class_button" style="background-color: <%= el.status %>"><%= el.name %> -></div>
            <% }) %></div>
    </div>
</body>
</html>